@model golf.Models.AdminPerson

@{
    ViewBag.Title = "AdminPage";
}

<h2>AdminPage</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AdminPerson</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person_ID)
            @Html.ValidationMessageFor(model => model.Person_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdminType_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdminType_ID)
            @Html.ValidationMessageFor(model => model.AdminType_ID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
