@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Ändra uppgifter.
            </p>
        </div>
    </section>
}
@model golf.Models.Person

@{
    ViewBag.Title = "Ändra dina uppgifter";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="EditDetails">
        <fieldset>
            <legend>Person</legend>

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Payed)
            <div class="editor-label">
                @Html.Raw("Förnamn")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.firstName)
                @Html.ValidationMessageFor(model => model.firstName)
            </div>
            <div class="editor-label">
                @Html.Raw("Efternamn")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.lastName)
                @Html.ValidationMessageFor(model => model.lastName)
            </div>
            <div class="editor-label">
                @Html.Raw("Gatuadress")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.streetAddres)
                @Html.ValidationMessageFor(model => model.streetAddres)
            </div>
            <div class="editor-label">
                @Html.Raw("Postnummer")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.postalCode)
                @Html.ValidationMessageFor(model => model.postalCode)
            </div>
            <div class="editor-label">
                @Html.Raw("Stad")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.city)
                @Html.ValidationMessageFor(model => model.city)
            </div>
            <div class="editor-label">
                @Html.Raw("E-postadress")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
            <div class="editor-label">
                @Html.Raw("Lösenord")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PW)
                @Html.ValidationMessageFor(model => model.PW)
            </div>
            <br>

                <p>
                    <input type="submit" class="buttonGreen" value="Spara" id="savedetailsbutton" />
                </p>

            <div class="HiddenEdit">
                <div class="editor-label">
                    @Html.Raw("Dam/Herr")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.gender_ID)
                    @Html.ValidationMessageFor(model => model.gender_ID)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.memberType_ID)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.memberType_ID)
                    @Html.ValidationMessageFor(model => model.memberType_ID)
                </div>
            </div>
        </fieldset>
        </div>
        <script type="text/javascript">
            $('#savedetailsbutton').click(function () {
        var isValid = 1;
        $('input:text').each(function () {
            if ($(this).val() == '') {
                $(this).css('border', '2px solid red');
                isValid = 0;
            }
            else {
                $(this).css('border', '1px solid green');
            }
        });
        if (isValid == 0) {
            return false;
        }
    });
        </script>
}
