@model golf.Models.Person

@{
    ViewBag.Title = "Index";
 }

@section featured {
    <section class="featured">
        <div class="content-wrapper">
             <p>
                @Html.ActionLink("Är du inte medlem? Klicka här", "Create")
            </p>
        </div>
    </section>
}
<div class="login" id="login">

    @using (Html.BeginForm("LogInCheck", "Account"))
    {
        @Html.Label("E-post")
        @Html.TextBoxFor(m => m.email, new { ID="email"})
        <br />
        @Html.Label("Lösenord")
        @Html.PasswordFor(m => m.PW, new { ID="password"})
        <br>
        <br>
        <br>
        @*<input type="submit" value="Logga in" id="loginbutton" @*onclick="CheckEmpty()"/>*@
        @Html.Hidden("url", ViewData["url"].ToString())
        <input type="submit" class="buttonGreen" value="Logga in" id="loginbutton" @*onclick="CheckEmpty()"*@/>
    }
</div>
<script type="text/javascript">
    $('#loginbutton').click(function () {
        var isValid = 1;
        $('input:text').each(function () {
            if ($(this).val() == '') {
                $(this).css('border', '2px solid red');
                isValid = 0;
            }
            else {
                $(this).css('border', '1px solid green');
            }
        });
        if (isValid == 0) {
            return false;
        }
    });
</script>
@*<script type="text/javascript">

    var email = document.getElementById('email').value;
    var password = document.getElementById('password').value;
    
    function CheckEmpty()
    {
        if (email<=0 || password <=0)
        {
            alert("Fyll i epost och/eller lösenord");
            return false;
        }      
    }
</script>*@


