@model golf.Models.Person


@{
    ViewBag.Title = "Index";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                @Html.ActionLink("Är du inte medlem? Klicka här", "Create")
            </p>
        </div>
    </section>
}

<div class="login" id="login">
    @using (Html.BeginForm("LogInCheck", "Account"))
    {
        @Html.Label("E-post")
        @Html.TextBoxFor(m => m.email)
        <br />
        @Html.Label("Lösenord")
        @Html.TextBoxFor(m => m.PW)
        <br>
        <input type="submit" value="Logga in" />


    }
</div>
    <p>

        @*@Html.ActionLink("Logga in", "LogInCheck", "Log")
            <input type="button" value="Logga in" onclick="@("window.location.href='" + @Url.Action("Index ", "Log") + "'");" />*@
    </p>

