@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Mina uppgifter.
            </p>
        </div>
    </section>
}
@model golf.Models.Person

@{
    ViewBag.Title = "Dina uppgifter";
}

<div class="MyPageLoggedIn">
    <fieldset>
        <legend>Person</legend>

        <div class="editor-label">
            @Html.Raw("Förnamn")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>
        <br>
        <div class="editor-label">
            @Html.Raw("Efternamn")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>
        <br>
        <div class="editor-label">
            @Html.Raw("Gatuadress")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.streetAddres)
            @Html.ValidationMessageFor(model => model.streetAddres)
        </div>
        <br>
        <div class="editor-label">
            @Html.Raw("Postadress")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.postalCode)
            @Html.ValidationMessageFor(model => model.postalCode)
        </div>
        <br>
        <div class="editor-label">
            @Html.Raw("Stad")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>
        <br>
        <div class="editor-label">
            @Html.Raw("E-postadress")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
        <br>
        <div class="editor-label">
            @Html.Raw("Betalat")
        </div>
        @*<div class="editor-field">
            @Html.DisplayFor(model => model.Payed)
            @Html.ValidationMessageFor(model => model.email)
        </div>*@

        @if (Model.Payed == true)
        {
            <p>Ja</p>
        }
        else
        {
            <p>Nej</p>
        }
        @*<div class="editor-label">
            @Html.Raw("Kön")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.gender_ID)
            @Html.ValidationMessageFor(model => model.gender_ID)
        </div>*@
        <br>
        <div class="edit-link">
            @Html.HiddenFor(model => model.Id)
            @Html.ActionLink("Ändra uppgifter", "Edit", new { id = Model.Id })
        </div>
    </fieldset>
</div>
