@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Detta är medlemshanteringen.
            </p>
        </div>
    </section>
}
@model golf.Models.Person
<div class="MemberManagementDelete" id="MemberManagementDelete">
    <h2>Delete</h2>

    
    <fieldset>
        <legend>Person</legend>

        <div class="display-label">
            @Html.Label("Förnamn")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.firstName)
        </div>

        <div class="display-label">
            @Html.Label("Efternamn")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.lastName)
        </div>

        <div class="display-label">
            @Html.Label("Adress")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.streetAddres)
        </div>

        <div class="display-label">
           @Html.Label("Postnummer")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.postalCode)
        </div>

        <div class="display-label">
           @Html.Label("Stad")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.city)
        </div>

        <div class="display-label">
           @Html.Label("E-post")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.email)
        </div>

        <div class="display-label">
            @Html.Label("Kön")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.gender_ID)
        </div>


    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    </div>
