@model golf.Models.NewsClass
    
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Detta är senaste nytt, här publiceras de senaste nyheterna om golfklubben.
            </p>
        </div>
    </section>
}
@{
    ViewBag.Title = "AddNews";
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="forumpost" id="forumpost">
        <fieldset>
            <legend>NewsClass</legend>
            <br>
            @Html.Label("Rubrik på nyheten:")
            @Html.EditorFor(m => m.NA.header)
            <br />
            @Html.Label("Text / inlägg:")
            @Html.TextAreaFor(m => m.NA.content, 10, 40, htmlAttributes: new { style = "width: 90%; resize:none" })
            <br>
            @Html.Label("Välj en bild att ladda upp:")
            <input id="b" name="b" type="file" required>
            <br>
            <p>
                @Html.EditorFor(m=> m.bild.imgURL)
                <br>
                <input type="submit" value="Publicera nyhet" />
            </p>
        </fieldset>
        </div>
        }

        <div>
            @Html.ActionLink("Tillbaks till senaste nytt", "Index")
        </div>

        @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@
