@model golf.Models.NewsClass
    
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Detta är senaste nytt, här publiceras de senaste nyheterna om golfklubben.
            </p>
        </div>
    </section>
}
@{
    ViewBag.Title = "AddNews";
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="forumpost" id="forumpost">
        <fieldset>
            <legend>NewsClass</legend>
            <br>
            @Html.Label("Rubrik på nyheten:")
            @Html.TextBoxFor(m => m.NA.header, htmlAttributes: new { ID = "headernews" })
            <br />
            @Html.Label("Text / inlägg:")
            @Html.TextAreaFor(m => m.NA.content, 10, 40, htmlAttributes: new { style = "width: 90%; resize:none", ID = "textareainput" })
            <br>
            @Html.Label("Välj en URL för en bild:")
            <p>
                @Html.EditorFor(m=> m.bild.imgURL)
                <br>
                <input type="submit" class="buttonGreen" value="Publicera nyhet" id="publishbutton" />
            </p>
        </fieldset>
        </div>
        }

        <div>
            @Html.ActionLink("Tillbaks till senaste nytt", "Index")
        </div>

<script type="text/javascript">

    $('#publishbutton').click(function ()
    {
        if ($('#textareainput').val() <= 0 || $('#headernews').val() <= 0)
        {

        if ($('#textareainput').val() <=0)
        {
            $('#textareainput').css('border', '2px solid red');
        }
        if ($('#headernews').val() <=0)
        {
            $('#headernews').css('border', '2px solid red');
        }
        return false;
  }

    else
        {
            $('#textareainput').css('border', '1px solid green');
            $('#headernews').css('border', '1px solid green');
        }
    }
    );

</script>


