@model golf.Models.NewsClass
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
               Detta är startsidan, här publiceras de senaste nyheterna.
            </p>
        </div>
    </section>
}


<head>
    <title>

    </title>

    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @*@RenderSection("Styles", false)


    @Styles.Render("~/Content/css")*@


    @*Scripts.Render("~/bundles/modernizr")*@

    <script type="text/JavaScript">

            $(document).ready(function () {

                $.ajax({
                    url: '@Url.Action("admin", "Home")',
                    type: "POST",
                    async: true,
                    dataType: "json",
                    data: $('#form').serialize(),
                    success: function (data) {

                        if (data.valid == false) {
                            $(".isAdmin").hide();
                            $(".isMember").show();
                        }
                        else {
                            $(".isAdmin").show();
                            $(".isMember").hide();
                        }
                        //document.getElementById('member').style.display = 'none'

                    },
                    error: function (request, status, error) {
                        // process error message
                    }
                });

            });


        $(document).ready(function () {

            $.ajax({
                url: '@Url.Action("signedUpAlready", "Home")',
                type: "POST",
                async: true,
                dataType: "json",
                data: $('#form').serialize(),
                success: function (data) {

                    if (data.valid == false) {
                        $(".isAdmin").hide();
                        $(".isMember").show();
                    }
                    else {
                        $(".isAdmin").show();
                        $(".isMember").hide();
                    }
                    //document.getElementById('member').style.display = 'none'

                },
                error: function (request, status, error) {
                    // process error message
                }
            });

        });
    </script>

</head>


<div class="sectionone">
    <h3>Startsidans innehåll</h3>
    <br>
    <br>
    Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin.
    Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd
    boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok.
    Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk
    typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med
    lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
</div>

<div class="sectiontwo">
    <h3>Senaste nytt</h3>

    
    @if (User.Identity.IsAuthenticated)
    {

            <a class="buttonGreen" @*class="isAdmin"*@ href="/Home/AddNews"><button type="submit">Skapa nytt inlägg</button></a>

    }
   

    <br />
    @if (Model.newarticle.Count>=0)
    {
        
    foreach (var a in Model.newarticle)
    {   <br>    
        @Html.Label(a.header)
        @Html.Raw(a.content.Replace(Environment.NewLine, "<br/>"))

        foreach (var ai in Model.ArticleImages)
        {
            if (a.Id == ai.NewsArticle_ID)
            {
                <img src="@Url.Content(ai.Images.imgURL)" alt="Alternate Text" width="100%" height="100%"/>
            }
        }

        <br>
 
    }
    }
</div>


