@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Boka tid.
            </p>
        </div>
    </section>
}
@model golf.Models.CalendarClass
@{
    ViewBag.Title = "Index";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Content/TeeTime.css")" rel="stylesheet" type="text/css" />
}

<script type="text/javascript">
    function onTimeDivClick(id) {

        clearLi();
        @using Newtonsoft.Json;
        var arr = [];
        var personids = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.bNames, Formatting.Indented));
        var c = 0;
        if(id != null)
        {

            for(var i in personids)
            {
                if(personids[i].TeeTime == id){

                    var addLi = document.createElement('li');
                    addLi.setAttribute('id',personids[i].personId);
                    var ul = document.getElementById('playerList');
                    ul.appendChild(addLi);
                    addLi.innerHTML = personids[i].gender +" - HCP: " + personids[i].HCP;

                }
                else{

                }

            }
            document.getElementById('details').style.display = 'block';
            var D = document.getElementById('details');

            var addControlDiv = document.createElement('div');
            addControlDiv.setAttribute('id', 'ControlDiv');
            D.appendChild(addControlDiv);


            @using (Html.BeginForm("saveBooking", "TeeTime"))
            {
                <input type="button" value="Boka" />


            @:var addButton = document.createElement('input');
            @:addButton.setAttribute('type', 'button');
            @:addButton.setAttribute('id', 'BookBtn');
            @:addButton.setAttribute('value', 'Boka')
            @:document.getElementById('ControlDiv').appendChild(addButton);

                }


            var addButton2 = document.createElement('input');
            addButton2.setAttribute('type', 'button');
            addButton2.setAttribute('id', 'AddGolferBtn');
            addButton2.setAttribute('value', 'Lägg till')
            document.getElementById('ControlDiv').appendChild(addButton2);

            var addTextInput = document.createElement('input');
            addTextInput.setAttribute('type', 'text');
            addTextInput.setAttribute('id', 'GolferIDInput');
            document.getElementById('ControlDiv').appendChild(addTextInput);


            //document.getElementById('playerName').innerHTML=arr;


        }
        else{
            document.getElementById('playerName').innerHTML="";
            document.getElementById('details').style.display = 'none';
        }
    }
    function clearLi(){

        var u = document.getElementById('playerList');
        u.innerHTML = '';
    }

</script>
    
    
<div class="test">

</div>
<h2></h2>
<div class="timeWrapper" id="timeWrapper">

    <div class="dateselection">

       
        <div class="buttonprev" type="submit" text-align="center">
            <input  type="submit" value="<">
        </div>      
        <p class="selectedDate" align="center">@Html.DisplayFor(m => m.dateString)</p>
          
        <div class="buttonnext" type="submit" text-align="center">
            <input type="submit" value=">">

    </div>
    
    </div>
    
    @for (int i = 0; i < 6; i++)
    {
      
        foreach (var item in Model.TeeTime)
        {
            string saveTime = item.teeTime1;
            
            char getChar = saveTime[3];
            string checkMinute = getChar.ToString();
            
            string checkHour = saveTime[0].ToString() + saveTime[1].ToString(); 

            if (checkMinute == i.ToString())
            {
                if (checkMinute == "0")
                {
                    <div class="hourAndMinutes">
                        <div class="timedivHour" onclick="onTimeDivClick(@item.Id)" id=@item.Id time=@item.teeTime1[3] booked="@Model.changeColor(item.Id, Model.selDate)">
                            @Html.DisplayFor(modelItem => item.teeTime1)<br/>
                            @Model.number/4
                        </div>
                        @foreach (var o in Model.TeeTime)
                        {
                            if (o.teeTime1[0].ToString() + o.teeTime1[1].ToString() == checkHour && o.teeTime1[3].ToString() != "0")
                            {
                                <div class="timedivMin" onclick="onTimeDivClick(@o.Id)" id=@o.Id booked="@Model.changeColor(o.Id, Model.selDate)">

                                    @Html.DisplayFor(modelItem => o.teeTime1)<br />
                                    @Model.number/4
                                  
                                  
                                </div>

                            }
                        }

                    </div>
                }

           }
           
      }

}

        <div id="details" class="TeeDetails">
            <p>@Html.Label("Registrerade spelare")</p>
            <div id="playerName">
              <ul id="playerList">
              </ul>
            </div>
        </div>
</div>

