@model golf.Models.CalendarClass
@{
    ViewBag.Title = "Index";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Content/TeeTime.css")" rel="stylesheet" type="text/css" />
}

<script type="text/javascript">
    function onTimeDivClick(id) {
       
        @using Newtonsoft.Json;
        var arr = [];
        var personids = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.bNames, Formatting.Indented));
        for(var i in personids)
        {
            arr.push(JSON.stringify(personids[i]));
            //alert(i + " " + JSON.stringify(personids[i]))
           
        }
        
        alert(arr);

         
        
        

    }


        @*function onTimeDivClick(id) {
        
        
        @foreach (var ttd in Model.TeeTimeDate)
        {
            @:if (id == @ttd.TeeTime_ID)
        {
                @:var TTD_ID = ttd.Id;
            foreach (var ttdg in Model.TeeTimeDateGolfer)
            {
                    @:if (TTD_ID == ttdg.TeeTimeDate_ID)
                {
                    foreach (var g in Model.Golfer)
                    {
                        if (g.Id == ttdg.Golfer_ID)
                        {
                            var gPID = g.Person_ID;
                            Model.BookedPerson.Add(gPID);
    }
                }
                        }
                }
                }
            }
            :document.getElementById('details').style.display = 'block';



        }*@


    
</script>
    
    
<div class="test">

</div>
<h2>Index</h2>
<div class="timeWrapper" id="timeWrapper">

    <div class="dateselection">

       
        <div class="buttonprev" type="submit" text-align="center">
            <input  type="submit" value="<">
        </div>      
        <p class="selectedDate" align="center">@Html.DisplayFor(m => m.dateString)</p>
          
        <div class="buttonnext" type="submit" text-align="center">
            <input type="submit" value="<">

    </div>
    
    </div>
    
    @for (int i = 0; i < 6; i++)
    {
      
        foreach (var item in Model.TeeTime)
        {
            string saveTime = item.teeTime1;
            
            char getChar = saveTime[3];
            string checkMinute = getChar.ToString();
            
            string checkHour = saveTime[0].ToString() + saveTime[1].ToString(); 

            if (checkMinute == i.ToString())
            {
                if (checkMinute == "0")
                {
                    <div class="hourAndMinutes">
                        <div class="timedivHour" onclick="onTimeDivClick(@item.Id)" id=@item.Id time=@item.teeTime1[3] style="background-color: @Model.changeColor(item.Id, Model.selDate)">
                            @Html.DisplayFor(modelItem => item.teeTime1)
                        </div>
                        @foreach (var o in Model.TeeTime)
                        {
                            if (o.teeTime1[0].ToString() + o.teeTime1[1].ToString() == checkHour && o.teeTime1[3].ToString() != "0")
                            {
                                <div class="timedivMin" onclick="onTimeDivClick(@o.Id)" id=@o.Id booked="@Model.changeColor(o.Id, Model.selDate)">

                                    @Html.DisplayFor(modelItem => o.teeTime1)<br />
                                    @Model.number
                                  
                                  
                                </div>

                            }
                        }

                    </div>
                }

           }
           
        }

}

 


    <input type="button" onclick="testDiv()" value="TESTA KNAPPEN" /> >


    





        <div id="details" class="TeeDetails">
            <p>En div för TeeTime-detaljer</p>
        </div>
</div>

