@model golf.Models.CalendarClass
@{
    ViewBag.Title = "Index";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Content/TeeTime.css")" rel="stylesheet" type="text/css" />
}

<script type="text/javascript" language="javascript">
    function onTimeDivClick() {
        
        document.getElementById('details').style.display = 'block';
        
    }

    //function cDiv() {

       
    //    var id = 3;
    //     if (id == 3) {

    //         alert("test");
    //        }

    //    var cDiv = document.getElementById("timeWrapper");
    //    var innerDivs = cDiv.getElementsByTagName("DIV");
    //    for (var i = 0; i < innerDivs.length; i++) {

    //        alert("loopar divar nu");
    //    }

    //}
    
</script>
    
    
<div class="test">

</div>
<h2>Index</h2>
<div class="timeWrapper" id="timeWrapper">

    <div class="dateselection">

       
        <div class="buttonprev" type="submit" text-align="center">
            <input  type="submit" value="<">
        </div>      
        <p class="selectedDate" align="center">@Html.DisplayFor(m => m.dateString)</p>
          
        <div class="buttonnext" type="submit" text-align="center">
            <input type="submit" value="<">

    </div>
    
    </div>
    
    @for (int i = 0; i < 6; i++)
    {
      
        foreach (var item in Model.TeeTime)
        {
            string saveTime = item.teeTime1;
            
            char getChar = saveTime[3];
            string checkMinute = getChar.ToString();
            
            string checkHour = saveTime[0].ToString() + saveTime[1].ToString(); 

            if (checkMinute == i.ToString())
            {
                if (checkMinute == "0")
                {
                    <div class="hourAndMinutes">
                        <div class="timedivHour" onclick="onTimeDivClick()" id=@item.Id time=@item.teeTime1[3]>
                            @Html.DisplayFor(modelItem => item.teeTime1)
                        </div>
                        @foreach (var o in Model.TeeTime)
                        {
                            if (o.teeTime1[0].ToString() + o.teeTime1[1].ToString() == checkHour && o.teeTime1[3].ToString() != "0")
                            {
                                <div class="timedivMin" onclick="onTimeDivClick()" id=@o.Id>

                                    @Html.DisplayFor(modelItem => o.teeTime1)
                                </div>

                            }
                        }

                    </div>
                }

           }
           
        }

}

    <script>

    function bookingCounter(TTD_ID){
        var counter = 0;
        var bol = false;
        @foreach(var TTDG in Model.TeeTimeDateGolfer)
            {
             @:if (TTD_ID == @TTDG.TeeTimeDate_ID)
                {
                @:counter++;
                @:if (counter > 3)
                    {
                    @:return bol = true;
                        
                    }
                    @:else
                    {
                        @:return bol = false;
                    }
                }
            }

    }
    function checkDiv() {


        var cDiv = document.getElementById("timeWrapper");
        var innerDivs = cDiv.getElementsByTagName("DIV");
        var bookingCounter = 0;


        for(var i = 0; i < innerDivs.length; i++)
        {

            @foreach(var thing in Model.TeeTimeDate)
               {

                  var id = thing.TeeTime_ID.ToString();
                  @:var cid = innerDivs[i].id;

                       @: if (cid == id)
                                {
                                @:if(bookingCounter(@thing.Id))
                                            {
                                        @:alert("alert!!");

                                        @:document.getElementById(cid).style.background = 'grey';
                                    }

                         }

                 }

        }



    }

    checkDiv();




    </script>


    





        <div id="details" class="TeeDetails">
            <p>En div för TeeTime-detaljer</p>
        </div>
</div>

