@model golf.Models.CalendarClass

@for (int i = 0; i < 6; i++)
{

    foreach (var item in Model.TeeTime)
    {
        string saveTime = item.teeTime1;

        char getChar = saveTime[3];
        string checkMinute = getChar.ToString();

        string checkHour = saveTime[0].ToString() + saveTime[1].ToString();

        if (checkMinute == i.ToString())
        {
            if (checkMinute == "0")
            {
                <div class="hourAndMinutes">
                    <div class="timedivHour" onclick="onTimeDivClick(@item.Id)" id=@item.Id time=@item.teeTime1[3] ctime="@item.teeTime1" booked="@Model.changeColor(item.Id, Model.selDate)" cdate="@Model.dateString">
                        @Html.DisplayFor(modelItem => item.teeTime1)<br />
                        @Model.status
                       
                    </div>
                    @foreach (var o in Model.TeeTime)
                    {
                        if (o.teeTime1[0].ToString() + o.teeTime1[1].ToString() == checkHour && o.teeTime1[3].ToString() != "0")
                        {
                            <div class="timedivMin" onclick="onTimeDivClick(@o.Id)" id=@o.Id booked="@Model.changeColor(o.Id, Model.selDate)" ctime="@o.teeTime1" cdate="@Model.dateString">

                                @Html.DisplayFor(modelItem => o.teeTime1)<br />                                
                                @Model.status

                            </div>

                        }
                    }

                </div>
            }

        }

    }
}

<script type="text/javascript">
    document.getElementById('cP').style.display = 'block';
    var selectedDiv;
    function onTimeDivClick(id) {
   
        
        clearLi();
       
        @using Newtonsoft.Json;
        var arr = [];
        var personids = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.bNames, Formatting.Indented));
        var c = 0;
        selectedDiv = id;

        if(id != null)
        {
            var date = document.getElementById(id).getAttribute("cdate");
            var ctime = document.getElementById(id).getAttribute("ctime");
            document.getElementById('timeInfo').innerHTML = 'Registrerade spelare: '+date+' - '+ctime;

            for(var i in personids)
            {
                if(personids[i].TeeTime == id){

                    arr.push(1);
                    var addLi = document.createElement('li');
                    var addBu = document.createElement('a');
                    var addT = document.createElement('p');

                    addBu.setAttribute('href', '#');
                    addBu.innerHTML = 'Ta bort';
                    addBu.setAttribute('onclick','remP('+personids[i].Golferid+')');
                    addLi.setAttribute('id',personids[i].Golferid);


                    addLi.setAttribute('class','clear');
                    addBu.setAttribute('class','listobjectA');
                    addT.setAttribute('class','listobjectP');


                    addT.innerHTML = personids[i].gender +" - HCP: " + personids[i].HCP+" - ";

                    var ul = document.getElementById('playerList');

                    ul.setAttribute('val', id);

                    addLi.appendChild(addT);
                    addT.appendChild(addBu);
                    ul.appendChild(addLi);


                }
                else{

                }

            }


            document.getElementById('details').style.display = 'block';
            document.getElementById('TeeDetailsB').style.display = 'block';
            var D = document.getElementById('details');


            if(arr.length < 4)
            {
                var addButton = document.createElement('input');
                addButton.setAttribute('type', 'button');
                addButton.setAttribute('id', 'addP');
                addButton.setAttribute('tee', id);
                addButton.setAttribute('class', 'buttonGreen');
                addButton.setAttribute('value', 'Lägg till spelare')
                addButton.setAttribute('onclick', 'addP('+id+')')
                document.getElementById('ControlDiv').appendChild(addButton);

                $('#addP').click(function ()
                {
                    if ($('#golfid').val() <= 0)
                    {
                        $('#golfid').css('border', '2px solid red');
                        return false;
                    }

                    else
                    {
                        $('#golfid').css('border', '1px solid green');
                    }
                }
);

                var field = document.createElement('input');
                field.setAttribute('type', 'text');
                field.setAttribute('id', 'golfid');
                field.setAttribute('placeholder', 'GolfID');
                document.getElementById('ControlDiv').appendChild(field);

            }


        }
        else{
            document.getElementById('playerName').innerHTML="";
            document.getElementById('details').style.display = 'none';
            document.getElementById('TeeDetailsB').style.display = 'none';
        }
        }
    


    function clearLi(){

        var u = document.getElementById('playerList');
        var i = document.getElementById('ControlDiv');

        var z = document.getElementById('addedList');
        u.innerHTML = '';
        i.innerHTML = '';
        z.innerHTML = '';

    }
    function addFoundP(golfid){

        var date = '@Model.selDate';

        if(containsGolfid(golfid, selectedDiv) == false)
        {          

            book(golfid, selectedDiv, date);
        }
        else{

            alert("Spelaren är redan bokad");
        }
    }
    function containsGolfid(golfid, selectdiv){
  
        var personids = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.bNames, Formatting.Indented));
        for(var i in personids)
        {
        
            if(personids[i].Golfer_ID == golfid && personids[i].TeeTime == selectdiv) 
            {
                return true;
            }
      
        }
        return false;

    }
    function addP(id){

        var date = '@Model.selDate';
        var golfid = document.getElementById('golfid').value;
        var getHcp = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Golfer, Formatting.Indented));



        for(var i in getHcp)
        {
            if(getHcp[i].golfID == golfid)
            {
                //var addLi = document.createElement('li');
                //var u = document.getElementById('playerList');

                //addLi.setAttribute('id',getHcp[i].Id);
                //u.appendChild(addLi);

                //addLi.innerHTML = "HCP: " + getHcp[i].HCP;

                var gident = getHcp[i].Id;

                book(gident, id, date);


            }
            else
            {

            }
        }


    }
    function remP(golfid){

        var date = '@Model.selDate';

        var tid = document.getElementById('playerList').getAttribute("val");

        remove(golfid, tid, date);

    }

    function book(g, t, d) {

        var p = '@User.Identity.Name';
        $.ajax({
            url: '/TeeTime/saveBooking',
            contentType: 'application/html; charset=utf-8',
            data: {golfid : g, teeid : t, date : d, personid: p},
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            $('#teetimes').html(result);
                onTimeDivClick(t);
        })
        .error(function (xhr, status) {
            alert(status);
        })
    }
    function remove(g, t, d) {

        $.ajax({
            url: '/TeeTime/deleteBooking',
            contentType: 'application/html; charset=utf-8',
            data: {golfid : g, teeid : t, date : d},
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            $('#teetimes').html(result);

            onTimeDivClick(t);
        })
        .error(function (xhr, status) {
            alert(status);
        })
    }
    function loadData(){
        $.ajax({
            url: '/TeeTime/loadTeetimes',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            $('#teetimes').html(result);
            loadPicker();

        })
        .error(function (xhr, status) {
            alert(status);
        })

    }
    $(function () {
        $("#datepicker").datepicker({
            //dateFormat: "yy-mm-dd",
            onSelect: function () {
                var selected = $(this).val();
                changeDate(selected);
            }
        });
    });

    function changeDate(d) {


        document.getElementById('details').style.display = 'none';
        document.getElementById('TeeDetailsB').style.display = 'none';

        $.ajax({
            url: '/TeeTime/ChangeSelDate',
            contentType: 'application/html; charset=utf-8',
            data: {newDate: d },
            type: 'GET',
            dataType: 'html'

        })

        .success(function (result) {
            $('#teetimes').html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        })

    }
    function soP(d) {

        var s = document.getElementById('searchField').value;
        if(s!="")
            {
        $.ajax({
            url: '/TeeTime/searchPerson',
            contentType: 'application/html; charset=utf-8',
            data: { searchstring: s },
            type: 'GET',
            dataType: 'html'


        })

        .success(function (result) {
            $('#searchDiv').html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        })
        }

    }
    function soPf(s) {

        //var s = document.getElementById('searchField').value;

        $.ajax({
            url: '/TeeTime/searchPerson',
            contentType: 'application/html; charset=utf-8',
            data: { searchstring: s },
            type: 'GET',
            dataType: 'html'

        })

        .success(function (result) {
            $('#searchDiv').html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        })


    }
    $('#searchField').keyup(function () {
        var s = document.getElementById('searchField').value;
        if(s == '')
        {
            var div = document.getElementById('searchDiv');
            div.innerHTML = '';
        }
        else{
            soPf(s);
        }

         });


</script>
    

