@model golf.Models.CalendarClass

@for (int i = 0; i < 6; i++)
{

    foreach (var item in Model.TeeTime)
    {
        string saveTime = item.teeTime1;

        char getChar = saveTime[3];
        string checkMinute = getChar.ToString();

        string checkHour = saveTime[0].ToString() + saveTime[1].ToString();

        if (checkMinute == i.ToString())
        {
            if (checkMinute == "0")
            {
                <div class="hourAndMinutes">
                    <div class="timedivHour" onclick="onTimeDivClick(@item.Id)" id=@item.Id time=@item.teeTime1[3] ctime="@item.teeTime1" booked="@Model.changeColor(item.Id, Model.selDate)" cdate="@Model.dateString">
                        @Html.DisplayFor(modelItem => item.teeTime1)<br />
                        @Model.number/4
                    
                    </div>
                    @foreach (var o in Model.TeeTime)
                    {
                        if (o.teeTime1[0].ToString() + o.teeTime1[1].ToString() == checkHour && o.teeTime1[3].ToString() != "0")
                        {
                            <div class="timedivMin" onclick="onTimeDivClick(@o.Id)" id=@o.Id booked="@Model.changeColor(o.Id, Model.selDate)" ctime="@o.teeTime1" cdate="@Model.dateString">

                                @Html.DisplayFor(modelItem => o.teeTime1)<br />
                                @Model.number/4


                            </div>

                        }
                    }

                </div>
            }

        }

    }
}

<script type="text/javascript">
    document.getElementById('cP').style.display = 'block';

    function onTimeDivClick(id) {

        clearLi();
        @using Newtonsoft.Json;
        var arr = [];
        var personids = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.bNames, Formatting.Indented));
        var c = 0;
        var currentUserId = '@User.Identity.Name';
        var GolfId = '';
        if(id != null)
        {
            alert(currentUserId);
            var date = document.getElementById(id).getAttribute("cdate");
            var ctime = document.getElementById(id).getAttribute("ctime");
            document.getElementById('timeInfo').innerHTML = 'Registrerade spelare: '+date+' - '+ctime;

            for(var i in personids)
            {
                if(personids[i].personId == currentUserId)
                {
                    GolfId = personids[i].Golfer_ID;
                }
                if(personids[i].TeeTime == id){

                    arr.push(personids[i].personId);
                    var addLi = document.createElement('li');

                    var addT = document.createElement('p');


                    addLi.setAttribute('id',personids[i].Golferid);


                    addLi.setAttribute('class','clear');

                    addT.setAttribute('class','listobjectP');


                    addT.innerHTML = personids[i].gender +" - HCP: " + personids[i].HCP;

                    var ul = document.getElementById('playerList');

                    ul.setAttribute('val', id);

                    addLi.appendChild(addT);

                    ul.appendChild(addLi);

                    if(personids[i].admin == currentUserId)
                    {
                        var addBu = document.createElement('a');
                        addBu.setAttribute('href', '#');
                        addBu.innerHTML = ' - Ta bort';
                        addBu.setAttribute('onclick','remP('+personids[i].Golferid+')');
                        addBu.setAttribute('class','listobjectA');
                        addT.appendChild(addBu);
                    }


                }
                else{

                }

            }

            document.getElementById('details').style.display = 'block';
            var D = document.getElementById('details');


            if(arr.length < 4)
            {

                var addButton = document.createElement('input');
                addButton.setAttribute('type', 'button');
                addButton.setAttribute('id', 'addP');
                addButton.setAttribute('tee', id);
                addButton.setAttribute('value', 'Lägg till spelare')
                addButton.setAttribute('onclick', 'addP('+id+')')
                document.getElementById('ControlDiv').appendChild(addButton);

                var field = document.createElement('input');
                field.setAttribute('type', 'text');
                field.setAttribute('id', 'golfid');
                field.setAttribute('placeholder', 'GolfID');
                document.getElementById('ControlDiv').appendChild(field);
                var count = 0;
                for(var i = 0; i <= arr.length; i++)
                {
                    if(arr[i] != currentUserId)
                    {
                        count++;
                        if(count == arr.length)
                        {
                            var button = document.createElement('input');
                            button.setAttribute('type', 'button');
                            button.setAttribute('value', 'Boka in dig själv');
                            button.setAttribute('onclick', 'addSelf('+id+','+GolfId+')');
                            document.getElementById('ControlDiv').appendChild(button);
                        }
                    }

                }



            }


        }
        else{
            document.getElementById('playerName').innerHTML="";
            document.getElementById('details').style.display = 'none';
        }
    }

    function clearLi(){

        var u = document.getElementById('playerList');
        var i = document.getElementById('ControlDiv');
        var x = document.getElementById('ControlDiv2');
        var z = document.getElementById('addedList');
        u.innerHTML = '';
        i.innerHTML = '';
        z.innerHTML = '';
        x.innerHTML = '';
    }
    function addSelf(id, golfid){
        var date = '@Model.selDate';
        var getHcp = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Golfer, Formatting.Indented));
        var personid = '@User.Identity.Name';

        for(var i in getHcp)
        {
            if(getHcp[i].golfID == golfid)
            {

                var gident = getHcp[i].Id;

                book(gident, id, date, personid);


            }
            else
            {

            }
        }



    }
    function addP(id){

        var date = '@Model.selDate';
        var golfid = document.getElementById('golfid').value;
        var getHcp = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Golfer, Formatting.Indented));
        var personid = '@User.Identity.Name';


        for(var i in getHcp)
        {
            if(getHcp[i].golfID == golfid)
            {

                var gident = getHcp[i].Id;

                book(gident, id, date, personid);


            }
            else
            {

            }
        }


    }
    function remP(golfid){

        var date = '@Model.selDate';

        var tid = document.getElementById('playerList').getAttribute("val");

        remove(golfid, tid, date);

    }

    function book(g, t, d, p) {

        $.ajax({
            url: '/TeeTime/saveBooking',
            contentType: 'application/html; charset=utf-8',
            data: {golfid : g, teeid : t, date : d, personid: p},
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            $('#teetimes').html(result);
            onTimeDivClick(t);
        })
        .error(function (xhr, status) {
            alert(status);
        })
    }
    function remove(g, t, d) {

        $.ajax({
            url: '/TeeTime/deleteBooking',
            contentType: 'application/html; charset=utf-8',
            data: {golfid : g, teeid : t, date : d},
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            $('#teetimes').html(result);

            onTimeDivClick(t);
        })
        .error(function (xhr, status) {
            alert(status);
        })
    }


</script>

