@model IEnumerable<golf.Models.PersonGolfer>
<table>
@foreach (var item in Model)
{
    @Html.HiddenFor(modelitem => item.golfid)
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HCP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.golfstring)
        </td>
        <td>
            <p id="@item.golfid"><a href="#" onclick="addFoundP(@item.golfid)" value="Lägg till"></a>   </p>
      
        </td>

    </tr>
}

</table>
@*<script>
    var elem = document.getElementById('searchAdd');
    var addButton = document.createElement('a');
    addButton.setAttribute('href', '#');
    addButton.setAttribute('id', 'addP');
    addButton.setAttribute('tee', id);
    addButton.setAttribute('value', 'Lägg till spelare')
    addButton.setAttribute('onclick', 'addP(' + id + ')')
    elem.appendChild(addButton);



</script>*@