@model golf.Models.resultClass
<h1>@Html.Label(@Model.comp.name+" "+@Model.comp.cDate.ToShortDateString())</h1>
<h3>@Html.Label("Ange resultat för: "+Model.currentPerson.firstName+" "+Model.currentPerson.lastName)</h3>
@using (Html.BeginForm())
{
    <table>
       <tr>
           <th>
               @Html.Label("Hål")
           </th>
           <th>
               @Html.Label("Ange slag")
           </th>
       </tr>

    @for (var i = 0; i < Model.holeresult.Count; i++)
    {
        var z = i + 1;
        <tr>
            
            <td>@Html.Label(z.ToString())</td>
            <td>
                @Html.HiddenFor(m => m.holeresult[i].Id)
            @Html.HiddenFor(m => m.holeresult[i].Hole_ID)
            @Html.HiddenFor(m => m.holeresult[i].CompetitionGolfer_ID)
            @Html.TextBoxFor(m => m.holeresult[i].stroaks)
        </td>
        <br />

    </tr>
    }

    </table>
    <input type="submit" value="Registrera resultat" />
    @Html.HiddenFor(m => m.comp.Id)
    @Html.HiddenFor(m => m.currentPerson.golfid)
    @Html.HiddenFor(m => m.currentPerson.personid)
    @Html.HiddenFor(m => m.currentPerson.HCP)
    @Html.HiddenFor(m => m.currentPerson.gender_ID)
    @Html.HiddenFor(m => m.comp.NumberOfHoles)
    @Html.HiddenFor(m => m.CompetitionGolferID)
}