@model golf.Models.AddCompPlayer

<h2>@Model.comp.name</h2>
<h3>@Model.comp.cDate</h3>

<table>
    <tr>
        <th>
            @Html.Label("Förnamn")
        </th>
        <th>
            @Html.Label("Efternamn")
        </th>
        <th>
            @Html.Label("Adress")
        </th>
        <th>
            @Html.Label("Postnummer")
        </th>
        <th>
            @Html.Label("Ort")
        </th>
        <th>
            @Html.Label("E-post")
        </th>
        <th>
            @Html.Label("Betalat")
        </th>

        <th></th>
    </tr>
</table>