@model golf.Models.AddCompPlayer

<h2>@Model.comp.name</h2>
<h3>@Model.comp.cDate</h3>

<table>
    @foreach (var item in Model.golfers)
    {

        
    <tr>
        <th>
            @Html.DisplayFor(o => item.firstName)
        </th>
        <th>
            @Html.DisplayFor(o => item.lastName)
        </th>
        <th>
            @*<p id="@item.golfid"><a href="#" onclick="addPlayer(@item.golfid, @Model.comp.Id)">Lägg till</a></p>*@

            @*//parametern som metoden i controller vill ha måste ha samma namn som den du skickar in härifrån, i detta fall :)*@
            @Html.ActionLink("Lägg till",
             "RegisterPlayer", new {golferid = item.golfid, competitionid = Model.comp.Id})

            @*@Html.ActionLink()*@

        </th>
    </tr>
    }
</table>

