@model golf.Models.Competition

<head>
    <title>

    </title>


    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/JavaScript">

        $(document).ready(function () {

            $.ajax({
                url: '@Url.Action("admin", "Home")',
                type: "POST",
                async: true,
                dataType: "json",
                data: $('#form').serialize(),
                success: function (data) {

                    if (data.valid == false) {
                        $(".isAdmin3").hide();
                        $(".isMember3").show();
                    }
                    else {
                        $(".isAdmin3").show();
                        $(".isMember3").hide();
                    }
                    //document.getElementById('member').style.display = 'none'

                },
                error: function (request, status, error) {
                    // process error message
                }
            });

        });
    </script>





</head>


<div class="MyPageLoggedIn">
    <fieldset>
        <legend>Person</legend>

        <div class="editor-label">
            @Html.Raw("Namn")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>
        <br>
        <div class="editor-label">
            @Html.Raw("Datum")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.cDate)
            @Html.ValidationMessageFor(model => model.cDate)
        </div>
        <br>
        <div class="editor-label">
            @Html.Raw("Första anmälningsdag")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.signUpFrom)
            @Html.ValidationMessageFor(model => model.signUpFrom)
        </div>
        <br>
        <div class="editor-label">
            @Html.Raw("Sista anmälningsdag")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.signUpTo)
            @Html.ValidationMessageFor(model => model.signUpTo)
        </div>
        <br>
        <div class="editor-label">
            @Html.Raw("Antal Hål")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.NumberOfHoles)
            @Html.ValidationMessageFor(model => model.NumberOfHoles)
        </div>
        <br>
        <div class="editor-label">
            @Html.Raw("Antal spelare")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.playersPerTime)
            @Html.ValidationMessageFor(model => model.playersPerTime)
        </div>
        <br>
        <div class="editor-label">
            @Html.Raw("Beskrivning")
        </div>
        <div class="editor-field">
                @Html.DisplayFor(model => model.info)
                @Html.ValidationMessageFor(model => model.info)
            </div>
   
        <br>
        <div class="edit-link isAdmin3">
            @Html.HiddenFor(model => model.Id)
       
            @Ajax.ActionLink("Ändra", "editComp", new { id = Model.Id}, new AjaxOptions() { 
                UpdateTargetId = "showComp",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
                
            })
        </div>
    </fieldset>
</div>
