@model golf.Models.RegisterComp

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.DisplayFor(m => m.comp)
    @Html.DisplayFor(m => m.Golfid)
    @Html.DisplayFor(m => m.courseHoles)
    @Html.DisplayFor(m => m.currPerson)
    @Html.DisplayFor(m => m.persongolfer)


        @Html.Label(@Model.comp.name)<br />
        @Html.Label("Ange resultat för: " + @Model.currPerson.firstName + " " + @Model.currPerson.lastName)
        <legend></legend>
        <table>
            <tr>
                <th>
                    @Html.Label("Hål")
                </th>
                <th>
                    @Html.Label("Slag")
                </th>
            </tr>

            @for (var i = 0; i < Model.holeresult.Count; i++ )               
            {
                <tr>
                    <td>
                        
                        
                    </td>
                    <td>                      
                      
                        @Html.EditorFor(m => m.holeresult[i].stroaks)
                    </td>
                </tr>

            }

        </table>





        <input type="submit" value="Spara" />

  
}


