@model golf.Models.RegisterComp

@using (Html.BeginForm("regResultPerson", "Competition", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @*@Html.DisplayFor(m => m.comp)
    @Html.DisplayFor(m => m.Golfid)
    @Html.DisplayFor(m => m.courseHoles)
    @Html.DisplayFor(m => m.currPerson)
    @Html.DisplayFor(m => m.persongolfer)*@


        @Html.Label(@Model.comp.name)<br />
        @Html.Label("Ange resultat för: " + @Model.currPerson.firstName + " " + @Model.currPerson.lastName)
        <legend></legend>
        <table>
            <tr>
                <th>
                    <p>Hål</p>
                </th>
                <th>
                    <p>Slag</p>
                </th>
            </tr>

            @for (var i = 0; i < Model.holeresult.Count; i++)
            {
                <tr>
                    <td>
                        
                        
                    </td>
                    <td>                      
                        @Html.Label("Hål" + i + 1)
                        @Html.EditorFor(m => m.holeresult[i].stroaks, new { id = "textfield" })
                    </td>
                </tr>

            }

        </table>


    <input type="submit" class="buttonGreen" value="Spara" id="savebutton" />

        @*<script type="text/javascript">
            $('#savebutton').click(function () {
        var isValid = 1;
        $('input:textfield').each(function () {
            if ($(this).val() == '') {
                $(this).css('border', '2px solid red');
                isValid = 0;
            }
            else {
                $(this).css('border', '1px solid green');
            }
        });
        if (isValid == 0) {
            return false;
        }
    });
        </script>*@


}


