@model golf.Models.CreateComp


<head>
    <title>

    </title>


    @*<meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@


    <script type="text/JavaScript">

        $(document).ready(function () {

            $.ajax({
                url: '@Url.Action("admin", "Home")',
                type: "POST",
                async: true,
                dataType: "json",
                data: $('#form').serialize(),
                success: function (data) {

                    if (data.valid == false) {
                        $(".isAdmin2").hide();
                        $(".isMember2").show();
                    }
                    else {
                        $(".isAdmin2").show();
                        $(".isMember2").hide();
                    }
                    //document.getElementById('member').style.display = 'none'

                },
                error: function (request, status, error) {
                    // process error message
                }
            });

            @*$.ajax({
                url: '@Url.Action("alreadySignedUp", "Home")',
                type: "POST",
                async: true,
                dataType: "json",
                data: $('#form').serialize(),
                success: function (data) {

                    if (data.valid == false) {
                        $(".isAdmin2").hide();
                        $(".isMember2").show();
                    }
                    else {
                        $(".isAdmin2").show();
                        $(".isMember2").hide();
                    }
                    //document.getElementById('member').style.display = 'none'

                },
                error: function (request, status, error) {
                    // process error message
                }
            });*@

            

        });
    </script>





</head>

<table>
    <tr>
        <th>
            @Html.Label("Namn")
        </th>
        <th>
            @Html.Label("Datum")
        </th>
        @*<th>
            @Html.Label("Första anmälningsdag")
        </th>
        <th>
            @Html.Label("Sista anmälningsdag")
        </th>
        <th>
            @Html.Label("Antal hål")
        </th>

        <th>
            @Html.Label("Övrigt")
        </th>*@

        <th></th>
    </tr>

    @for (int i = 0; i < Model.complist.Count; i++)
        {
            <tr>
                <td>
                    @Html.Label(Model.complist[i].name, new { id = Model.complist[i].Id, onmouseover = "details(" + Model.complist[i].Id + ")", onmouseout = "closeDialog();" })
                </td>

                <td>
                    
                    @Html.Label(Model.complist[i].cDate.ToShortDateString())
                </td>
                @*<td>
                    @Html.Label(item.signUpFrom.ToShortDateString())
                  
                </td>
                <td>
                    
                    @Html.Label(item.signUpTo.ToShortDateString())
                </td>
                <td>
                    @Html.Label(item.NumberOfHoles.ToString())
                </td>

                <td>
                    @Html.DisplayFor(m => item.info)
                </td>*@

                <td>
                    <div class="buttonGreen">
                        @Ajax.ActionLink("Visa detaljer", "detailsComp", new { id = Model.complist[i].Id }, new AjaxOptions()
                   {

                   UpdateTargetId = "showComp",
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.Replace
                  

               })
                    </div> 


                </td>

                <td>
                    <div class="isAdmin2" style="display:none">
                        <div class="buttonGreen">
                            @Ajax.ActionLink("Resultat", "showResult", new { id = Model.complist[i].Id }, new AjaxOptions()
                       {
                           UpdateTargetId = "showComp",
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace
                       })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="isAdmin2" style="display:none">
                        <div class="buttonGreen">
                            
                            @Ajax.ActionLink("Spelarlista", "registerResult", new { id = Model.complist[i].Id }, new AjaxOptions()
                       {
                           UpdateTargetId = "showComp",
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace
                       })
                            </div>
                        </div>
  
                    <div class="isMember2" style="display:none">

                            @*Här ska det vara annan actionlink sen!*@
                            @if (Model.currentUser != null)
                            {
                                if ((Model.complist[i].signUpFrom.Date <= DateTime.Now.Date) && (Model.complist[i].signUpTo.Date >= DateTime.Now.Date) && (Model.complist[i].CompeteClass_ID == 1 || Model.complist[i].CompeteClass_ID == Model.currentUser.gender_ID))
                                {


                                    if (Model.alreadySigned[i] == false)
                                    {
                                        <div class="buttonGreen">
                                            @Html.ActionLink("Anmäl dig här!", "addYourself", new { confirm = true, id = Model.complist[i].Id },
                                        new { onclick = "return confirm('Vill du verkligen anmäla dig till denna tävling?')" })
                                        </div>
                                    }
                                    else
                                    {
                                        if (Model.golfers[i].startime != null)
                                        {
                                            @Html.Label("Du är redan registrerad, starttid ej fastställd")
                                        }
                                        else
                                        {
                                            
                                        }

                                    }
                                }
                            }
                           
                            
                            
                        </div>


                </td>
                <td class="isAdmin2" style="display:none">
                        @*@Ajax.ActionLink("Anmäl spelare", "addPlayer", new { id = item.Id }, new AjaxOptions()
            {
                UpdateTargetId = "showComp",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })*@
                        @if ((Model.complist[i].signUpFrom.Date <= DateTime.Now.Date) && (Model.complist[i].signUpTo.Date >= DateTime.Now.Date))
                        {
                    <div class="buttonGreen">
                            @Html.ActionLink("Anmäl spelare", "addPlayer", new { id = Model.complist[i].Id })
                    </div>
                        }
                </td>
                
            </tr>
        
        }

</table>
<div id="dialog">

  
</div>
<script type="text/javascript">
  
    var myX, myY;

    function details(id)
    {

        @using Newtonsoft.Json;

        var details = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.complist, Formatting.Indented));

        var element = document.getElementById(id);
        
        for(var i in details)
        {
            if(details[i].Id == id)
            {
               
                $("#dialog").dialog({dialogClass: "no-close"});
                $("#dialog").dialog( "option", "position", { my: "left top", at: "left bottom", of: element } );
              

            

                var el = document.getElementById('dialog');
                var a = document.createElement('p');
                var b = document.createElement('p');
                var c = document.createElement('p');

                var length = 10;
                var signUpFrom = details[i].signUpFrom.substring(0, length)
                var signUpTo = details[i].signUpTo.substring(0, length)

                a.innerHTML = 'Första anmälningsdag</br>'+ signUpFrom +'</br>';
                b.innerHTML = 'Sista anmälningsdag</br>'+ signUpTo+'</br>';
                c.innerHTML = 'Övrig info:</br>'+details[i].info;

                el.appendChild(a);
                el.appendChild(b);
                el.appendChild(c);



            }

        }



    }



    

    function closeDialog()
    {

        $( "#dialog" ).dialog( "close" );
        var el = document.getElementById('dialog');
        el.innerHTML = '';
    }



  
    //function details(id)
    //{

    //    //$("#dialog").dialog();
    //    $( document ).mousemove(function(e) {

    //        myX = e.pageX;
    //        myY = e.pageY;
    //    });
    //}

</script>
