@model golf.Models.CreateComp

<table>
    <tr>
        <th>
            @Html.Label("Namn")
        </th>
        <th>
            @Html.Label("Datum")
        </th>
        <th>
            @Html.Label("Första anmälningsdag")
        </th>
        <th>
            @Html.Label("Sista anmälningsdag")
        </th>
        <th>
            @Html.Label("Antal hål")
        </th>

        <th>
            @Html.Label("Övrigt")
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model.complist)
        {
            <tr>
                <td>
                    @Html.Label(item.name)
                </td>

                <td>
                    
                    @Html.Label(item.cDate.ToShortDateString())
                </td>
                <td>
                    @Html.Label(item.signUpFrom.ToShortDateString())
                  
                </td>
                <td>
                    
                    @Html.Label(item.signUpTo.ToShortDateString())
                </td>
                <td>
                    @Html.Label(item.NumberOfHoles.ToString())
                </td>

                <td>
                    @Html.DisplayFor(m => item.info)
                </td>
                <td>
                    @Ajax.ActionLink("Registrera resultat", "registerResult", new { id = item.Id}, new AjaxOptions()
                       {
                           UpdateTargetId = "showComp",
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace
                       })

                </td>
                <td>
                    @*@Ajax.ActionLink("Anmäl spelare", "addPlayer", new { id = item.Id }, new AjaxOptions()
                       {
                           UpdateTargetId = "showComp",
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace
                       })*@
                    @Html.ActionLink("Anmäl spelareFDFS", "addPlayer", new { id = item.Id })

                </td>
            </tr>

        }

</table>