@model golf.Models.CreateComp

<table>
    @foreach (var item in Model.complist)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.name)
                </td>

                <td>
                    @Html.DisplayFor(model => item.cDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.signUpFrom)
                </td>
                <td>
                    @Html.DisplayFor(model => item.signUpTo)
                </td>
                <td>
                    @Html.DisplayFor(model => item.NumberOfHoles)
                </td>
                <td>
                    @Html.DisplayFor(model => item.playersPerTime)
                </td>
                <td>
                    @Html.DisplayFor(model => item.info)
                </td>
                <td>
                    @Ajax.ActionLink("Registrera resultat", "registerResult", new { id = item.Id}, new AjaxOptions()
                       {
                           UpdateTargetId = "showComp",
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace
                       })

                </td>
                <td>
                    @Ajax.ActionLink("Anmäl spelare", "addPlayer", new { id = item.Id }, new AjaxOptions()
                       {
                           UpdateTargetId = "showComp",
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace
                       })

                </td>
            </tr>

        }

</table>