@model golf.Models.CreateComp


<head>
    <title>

    </title>


    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/JavaScript">

        $(document).ready(function () {

            $.ajax({
                url: '@Url.Action("admin", "Home")',
                type: "POST",
                async: true,
                dataType: "json",
                data: $('#form').serialize(),
                success: function (data) {

                    if (data.valid == false) {
                        $(".isAdmin2").hide();
                        $(".isMember2").show();
                    }
                    else {
                        $(".isAdmin2").show();
                        $(".isMember2").hide();
                    }
                    //document.getElementById('member').style.display = 'none'

                },
                error: function (request, status, error) {
                    // process error message
                }
            });

        });
    </script>





</head>

<table>
    <tr>
        <th>
            @Html.Label("Namn")
        </th>
        <th>
            @Html.Label("Datum")
        </th>
        @*<th>
            @Html.Label("Första anmälningsdag")
        </th>
        <th>
            @Html.Label("Sista anmälningsdag")
        </th>
        <th>
            @Html.Label("Antal hål")
        </th>

        <th>
            @Html.Label("Övrigt")
        </th>*@

        <th></th>
    </tr>
    @foreach (var item in Model.complist)
        {
            <tr>
                <td>
                    @Html.Label(item.name, new { id=item.Id, onmouseover = "details("+item.Id+")" , onmouseout = "closeDialog();" })
                </td>

                <td>
                    
                    @Html.Label(item.cDate.ToShortDateString())
                </td>
                @*<td>
                    @Html.Label(item.signUpFrom.ToShortDateString())
                  
                </td>
                <td>
                    
                    @Html.Label(item.signUpTo.ToShortDateString())
                </td>
                <td>
                    @Html.Label(item.NumberOfHoles.ToString())
                </td>

                <td>
                    @Html.DisplayFor(m => item.info)
                </td>*@
                <td>
                    @Ajax.ActionLink("Visa detaljer", "detailsComp", new { id = item.Id }, new AjaxOptions(){

                   UpdateTargetId = "showComp",
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.Replace                
                   
               })


                </td>
                <td>
                    <div class="isAdmin2">
                        @Ajax.ActionLink("Spelarlista", "registerResult", new { id = item.Id }, new AjaxOptions()
                       {
                           UpdateTargetId = "showComp",
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace
                       })
                    </div>
                   <div class="isMember2">

                       @*Här ska det vara annan actionlink sen!*@

                       @Html.ActionLink("Registrera dig här!", "addYourself", new { golfID = item.Id, compID = item.CompeteClass_ID })
                   </div>

                </td>
                <td class="isAdmin2">
                    @*@Ajax.ActionLink("Anmäl spelare", "addPlayer", new { id = item.Id }, new AjaxOptions()
                       {
                           UpdateTargetId = "showComp",
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace
                       })*@
                    @Html.ActionLink("Anmäl spelare", "addPlayer", new { id = item.Id })

                </td>
                
            </tr>
        
        }

</table>
<div id="dialog">

  
</div>
<script type="text/javascript">

    var myX, myY;

    function details(id)
    {

        @using Newtonsoft.Json;

        var details = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.complist, Formatting.Indented));

        var element = document.getElementById(id);
        
        for(var i in details)
        {
            if(details[i].Id == id)
            {
               
                $("#dialog").dialog({dialogClass: "no-close"});
                $("#dialog").dialog( "option", "position", { my: "left top", at: "left bottom", of: element } );
              

            

                var el = document.getElementById('dialog');
                var a = document.createElement('p');
                var b = document.createElement('p');
                var c = document.createElement('p');

                a.innerHTML = 'Första anmälningsdag</br>'+ details[i].signUpFrom+'</br>';
                b.innerHTML = 'Sista anmälningsdag</br>'+ details[i].signUpTo+'</br>';
                c.innerHTML = 'Övrig info:</br>'+details[i].info;

                el.appendChild(a);
                el.appendChild(b);
                el.appendChild(c);



            }

        }



    }



    

    function closeDialog()
    {

        $( "#dialog" ).dialog( "close" );
        var el = document.getElementById('dialog');
        el.innerHTML = '';
    }




    //function details(id)
    //{

    //    //$("#dialog").dialog();
    //    $( document ).mousemove(function(e) {

    //        myX = e.pageX;
    //        myY = e.pageY;
    //    });
    //}

</script>
