@model golf.Models.showResult

<h1>@Model.comp.name</h1>
<h2>@Model.comp.cDate.ToShortDateString()</h2>
<div id="showresultdiv" class="showresultdiv">
    <table class="resultTable">

        <tr>
            <th>

            </th>
            <th>
                @Html.Label("Hål")

            </th>

            @for (var i = 1; i <= Model.comp.NumberOfHoles; i++)
            {

                <th>
                    @Html.Label(i.ToString())
                </th>


            }
            <th>
                @Html.Label("Netto")
            </th>
            <th>
                @Html.Label("Poäng")
            </th>
            <th>
                @Html.Label("+/-")
            </th>

        <tr>



            <th>

            </th>
            <th>
                @Html.Label("Par")
            </th>

            @foreach (var i in Model.holeInfo)
            {
                <td>
                    @Html.Label(i.par.ToString())
                </td>

            }
            <td class="scoreColumn"></td>
            <td class="scoreColumn"></td>
            <td class="scoreColumn"></td>
        </tr>

        @foreach (var o in Model.player)
        {

            <tr>


                <td>
                    @Html.Label(o.firstName + " " + o.lastName)
                </td>
                <td></td>
                @foreach (var i in o.holeResult)
                {
                    <td class="scoreColumn">
                        @if (i.toPar < 0)
                        {
                            @Html.Label(i.stroaks.ToString(), new { @class = "underPar", title = "+/- :" + i.toPar.ToString() })
                        }
                        else
                        {
                            @Html.Label(i.stroaks.ToString(), new { @class = "overPar", title = "+/-: " + i.toPar.ToString() })
                        }

                    </td>

                }

                <td class="scoreColumn">
                    @Html.Label(o.net.ToString())

                </td>
                <td class="scoreColumn">
                    @Html.Label(o.points.ToString())
                </td>
                <td class="scoreColumn">
                    @Html.Label(o.toPar.ToString())
                </td>


            </tr>
        }
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {

   
        $(function() {
            $( document ).tooltip();
        });
   

    });

</script>