@model golf.Models.AddCompPlayer

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Tävlingar
            </p>
        </div>
    </section>
}

<head>
    <title>

    </title>

    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @*@RenderSection("Styles", false)


        @Styles.Render("~/Content/css")*@


    @*Scripts.Render("~/bundles/modernizr")*@

    <script type="text/JavaScript">


        //$(document).ready(function () {
        //    $(".bc").show();
          
        //});

        $(document).ready(function () {

            $("#searchButton").click(function () {
                $(".isM").hide();
            });
        });

    </script>

</head>





    <div class="addplayer" id="addplayer">
        <h2>@Model.comp.name</h2>
        <h3>@Model.comp.cDate.ToShortDateString()</h3>

        <input id="searchButton" class="buttonGreen" type="submit" onclick="search()" value="Sök" />
        <input id="searchField" type="text" placeholder="sök" />


        <div class="isM">
            @if (TempData["addedP"] != null)
            {

                <p>@TempData["addedP"]</p>
                <p>Blev nu tillagd i tävlingen.</p>

            }
        </div>


        <div id="sDiv" class="sDiv">


        </div>

    </div>
<div class="buttonGreen">
    @Html.ActionLink("Tillbaka", "Index")
</div>

    <script type="text/javascript">
        function search() {

            var string = document.getElementById('searchField').value;

            var g = @Model.comp.Id
            $.ajax({
                url: '/Competition/searchPlayer',
                contentType: 'application/html; charset=utf-8',
                data: { id: g, s: string },
                type: 'GET',
                dataType: 'html'


            })

            .success(function (result) {
                $('#sDiv').html(result);
            })
            .error(function (xhr, status) {
                alert(status);
            })


        }

        $('#searchButton').click(function () {
            if ($('#searchField').val() <= 0) {
                $('#searchField').css('border', '2px solid red');
                return false;
            }
            else {
                $('#textareainput').css('border', '1px solid green');
            }
        }
        );

    </script>
