@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               Skapa ny tävling.
            </p>
        </div>
    </section>
}
<h2>Skapa ny tävling</h2>
<div class="cNew">
    <table>
        <tr>
            <th>
                @Html.Label("Namn")
            </th>
            <th>
                @Html.Label("Start")
            </th>
            <th>
                @Html.Label("Slut")
            </th>
            <th>
                @Html.Label("Sista anmälningsdag")
            </th>
            <th>
                @Html.Label("Antal tävlande")
            </th>
    
            <th>
                @Html.Label("")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.memberType_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PW)
                </th>*@

        </tr>

    </table>
</div>
<div class="showComp">

</div>